.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem;
    margin: 1rem 1rem;
    background-color: #4b4b4b;
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  .expense-item h2 {
    /*color: #3a3a3a;*/
    /*font-size: 1rem;*/
    flex: 1;
    margin: 0 1rem;
    /*color: white;*/
  }
  
  .expense-item__price {
    /*background-color: rgba(0,136,169,1);*/
    background-color: #0b3b44;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 16px;
    padding: 0.5rem 0.5rem;
  }

  .ct-text-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.ct-text-button:hover {
  background-color: rgba(0,136,169,0.8);
}

.ct-button {
  margin: 0px 10px;
}


  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 20px;
      font-weight: 500;
    }

  }